Daimler.HELM.PerformanceTest/Service References/SendEmailService/SendEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://contact.di.webservice.huiyee.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://contact.di.webservice.huiyee.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://contact.di.webservice.huiyee.com/">
      <s:element name="push">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="arg0" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pushResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="return" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hi">
        <s:complexType />
      </s:element>
      <s:element name="hiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postxml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="arg0" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postxmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pushSoapIn">
    <wsdl:part name="parameters" element="tns:push" />
  </wsdl:message>
  <wsdl:message name="pushSoapOut">
    <wsdl:part name="parameters" element="tns:pushResponse" />
  </wsdl:message>
  <wsdl:message name="hiSoapIn">
    <wsdl:part name="parameters" element="tns:hi" />
  </wsdl:message>
  <wsdl:message name="hiSoapOut">
    <wsdl:part name="parameters" element="tns:hiResponse" />
  </wsdl:message>
  <wsdl:message name="postxmlSoapIn">
    <wsdl:part name="parameters" element="tns:postxml" />
  </wsdl:message>
  <wsdl:message name="postxmlSoapOut">
    <wsdl:part name="parameters" element="tns:postxmlResponse" />
  </wsdl:message>
  <wsdl:portType name="SendEmailSoap">
    <wsdl:operation name="push">
      <wsdl:input message="tns:pushSoapIn" />
      <wsdl:output message="tns:pushSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hi">
      <wsdl:input message="tns:hiSoapIn" />
      <wsdl:output message="tns:hiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postxml">
      <wsdl:input message="tns:postxmlSoapIn" />
      <wsdl:output message="tns:postxmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendEmailSoap" type="tns:SendEmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="push">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hi">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postxml">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendEmailSoap12" type="tns:SendEmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="push">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hi">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postxml">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendEmail">
    <wsdl:port name="SendEmailSoap" binding="tns:SendEmailSoap">
      <soap:address location="http://localhost:62188/SendEmail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendEmailSoap12" binding="tns:SendEmailSoap12">
      <soap12:address location="http://localhost:62188/SendEmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>