Daimler.HELM.PerformanceTest/Service References/SendLMSService/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.csapi.org/schema/common/v2_0" elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/common/v2_0" id="schema2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageNotificationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="CMAbility" type="tns:CMAbility" />
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="WSURI" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CMAbility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SMSAbility" />
      <xs:enumeration value="MMSAbility" />
      <xs:enumeration value="WAPAbility" />
      <xs:enumeration value="USSDAbility" />
      <xs:enumeration value="LBSAbility" />
      <xs:enumeration value="GPRSAbility" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TimeMetric">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Metric" nillable="true" type="tns:TimeMetricsValues" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Units" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TimeMetricsValues">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Millisecond" />
      <xs:enumeration value="Second" />
      <xs:enumeration value="Minute" />
      <xs:enumeration value="Hour" />
      <xs:enumeration value="Day" />
      <xs:enumeration value="Week" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Year" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Variables" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>