Daimler.HELM.PerformanceTest/Service References/SendLMSService/schema7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.csapi.org/schema/wap" elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/wap" id="schema7" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendPushRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="addresses" type="xs:anyURI" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="targetURL" type="xs:anyURI" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ExtendCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="subject" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="receiptRequest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPushResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="requestIdentifier" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPushDeliveryStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="requestIdentifier" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPushDeliveryStatusResponse" type="tns:ArrayOfDeliveryInformation" />
  <xs:complexType name="ArrayOfDeliveryInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="item" type="tns:DeliveryInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="address" type="xs:anyURI" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="status" type="tns:DeliveryStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DeliveryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DeliveredToNetwork" />
      <xs:enumeration value="DeliveryUncertain" />
      <xs:enumeration value="DeliveryImpossible" />
      <xs:enumeration value="MessageWaiting" />
      <xs:enumeration value="DeliveredToTerminal" />
      <xs:enumeration value="DeliveryNotificationNotSupported" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="notifyPushDeliveryReceiptRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="requestIdentifier" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="deliveryStatus" type="tns:DeliveryInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>