Daimler.HELM.PerformanceTest/Service References/SendLMSService/schema5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.csapi.org/schema/mms" elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/mms" id="schema5" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="addresses" type="xs:anyURI" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ExtendCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="subject" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="priority" type="tns:MessagePriority" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="receiptRequest" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MessagePriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Low" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="sendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="requestIdentifier" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageDeliveryStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="requestIdentifier" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageDeliveryStatusResponse" type="tns:ArrayOfDeliveryInformation" />
  <xs:complexType name="ArrayOfDeliveryInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="item" type="tns:DeliveryInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="address" type="xs:anyURI" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="deliveryStatus" type="tns:DeliveryStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DeliveryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DeliveredToNetwork" />
      <xs:enumeration value="DeliveryUncertain" />
      <xs:enumeration value="DeliveryImpossible" />
      <xs:enumeration value="MessageWaiting" />
      <xs:enumeration value="DeliveredToTerminal" />
      <xs:enumeration value="DeliveryNotificationNotSupported" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="getReceivedMessagesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="priority" type="tns:MessagePriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReceivedMessagesResponse" type="tns:ArrayOfMessageReference" />
  <xs:complexType name="ArrayOfMessageReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="item" type="tns:MessageReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="messageIdentifier" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="messageServiceActivationNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="senderAddress" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="subject" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="priority" type="tns:MessagePriority" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="message" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="dateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="messageRefIdentifier" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="mmsMessage" type="tns:MmsMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MmsMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="bodyText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="content" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="notifyMessageReceptionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="message" type="tns:MessageReference" />
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyMessageDeliveryReceiptRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="correlator" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="deliveryStatus" type="tns:DeliveryInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>