Daimler.HELM.PerformanceTest/Service References/SendLMSService/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.csapi.org/schema/notification" elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/notification" id="schema3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.csapi.org/schema/common/v2_0" />
  <xs:element name="startNotificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://www.csapi.org/schema/common/v2_0" minOccurs="0" maxOccurs="unbounded" form="unqualified" name="MessageNotification" nillable="true" type="q1:MessageNotificationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopNotificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="ApplicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>